<template>
  <g-films>
    <div v-for="film in films" :key="film.imdbID">

      <figure :class="{fav: film.is_fav}" @click="toggle(film)">
        <icon-star></icon-star>
        <img :src="film.Poster" loading="lazy" width="300" height="400" :alt="film.Title">
        <router-link @click.native="$event.stopImmediatePropagation()" 
                     :to="{ name: 'Info', params: { filmId: film.imdbID }}">
          <figcaption>{{film.Title}}</figcaption>
        </router-link>
      </figure>

    </div>
  </g-films>
</template>

<script>
export default {
  name: 'Films',
  props: {
    films: Array
  },

  methods: {
    toggle(film) {
      this.$store.dispatch('toggle_fav_film', film)
    }
  }
}
</script>


<style scoped>
/* Films list */
g-films {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Film */
figure {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 12px 17px;
  background-color: white;
  margin: 1rem;
}

/* Film icon start */
figure.fav > icon-star {
  background-color: palevioletred;
  transform: scale(1.3);
}

figure > icon-star {
  position: absolute;
  right: 25px;
  background-color: white;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

/* Film image */
figure > img {
  line-height: 150px;
  color: var(--black);
}

figure > img:hover, figure > .icon-star:hover + img {
  cursor: pointer;
  opacity: .8;
}

/* Film title */
figcaption {
  text-align: center;
  padding-top: 8px;
  color: var(--black);
  background-color: white;
  transition-timing-function: ease-in-out;
  transition: .3s;
}

figcaption:hover {
  color: palevioletred;
  background-color: var(--grey);
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-timing-function: ease-in-out;
  transition: .3s;
  cursor: pointer;
}

a {
  text-decoration: none;
}
</style>
