/**
  @file index.css
 
  @date 2020-5
  @author Génesis García Morilla <gengns@gmail.com>

  @description Global style
*/


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --black: #23272b;
  --grey: #efefef;
}

* {
  user-select: none;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark);
  background-color: var(--grey);
  font-size: 16px;
  overflow-x: hidden;
}

/* Progress Bar */
g-progress-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5px;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #333,
      #333 11px,
      #eee 10px,
      #eee 20px
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(-130%);
}

g-progress-bar.show {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

/* App title */
g-title {
  color: palevioletred; 
  font-family: Great Vibes, cursive; 
  font-size: 80px; 
  line-height: 160px; 
  font-weight: normal; 
  margin-bottom: 0px; 
  margin-top: 40px; 
  text-shadow: 0 1px 1px #ffffff;
}

/* Navigation */
nav {
  width: calc(100vw - 40px);
  background-color: white;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  z-index: 1;
}

nav > a {
  grid-row: 1;
  color: var(--black);
  background-color: var(--grey);
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

nav > a:hover, nav > a.active {
  color: var(--grey);
  background-color: palevioletred;
  cursor: pointer;
}

nav > a:hover > *, nav > a.active > * {
  background-color: var(--grey);
} 

/* Search input */
input {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: white;
  padding: 12px 20px;
  transition: width .4s ease-in-out;
  font-size: 16px;
  margin: 1rem;
  /* Way in */
  transition-timing-function: ease-in;
  transition: .3s;
  transform: translateY(-100px);
}

input:focus {
  width: 95vw;
  border-color: palevioletred;
  transition: .5s;
  outline: none;
}

input.show {
  transition-timing-function: ease-out;
  transition: .3s;
  transform: translateY(0); 
}

/* Films list */
g-films {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Film */
figure {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 12px 17px;
  background-color: white;
  margin: 1rem;
}

/* Film icon start */
figure.fav > icon-star {
  background-color: palevioletred;
  transform: scale(1.3);
}

figure > icon-star {
  position: absolute;
  right: 25px;
  background-color: white;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

/* Film image */
figure > img {
  line-height: 150px;
  color: var(--black);
}

figure > img:hover, figure > icon-star:hover + img {
  cursor: pointer;
  opacity: .8;
}

/* Film title */
figcaption {
  text-align: center;
  padding-top: 8px;
  color: var(--black);
  background-color: white;
  transition-timing-function: ease-in-out;
  transition: .3s;
}

figcaption:hover {
  color: palevioletred;
  background-color: var(--grey);
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-timing-function: ease-in-out;
  transition: .3s;
  cursor: pointer;
}

/* Icons */
icon-search, icon-star {
  width: 24px;
  height: 24px;
  background-color: var(--black);
}

icon-search {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

icon-star {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}
