<template>
  <g-favorites>
    <Films :films="films"></Films>
  </g-favorites>
</template>

<script>
import Films from '@/components/Films.vue'

export default {
  name: 'Favorites',
  components: {
    Films
  },

  computed: {
    films() {
      return this.$store.state.favorites
    }
  }
}
</script>