<template>
  <g-info>
    <h1>{{ info.Title }}</h1>
    <div class="date">({{ info.Year }})</div>
    <img :src="info.Poster" :alt="info.Title">
    <p>{{ info.Plot }}</p>
    <h2>Director:</h2>
    <p>{{ info.Director }}</p>
    <h2>Writer/s:</h2>
    <p>{{ info.Writer }}</p>
    <h2>Actors:</h2>
    <p>{{ info.Actors }}</p>
    <a :href="'https://imdb.com/title/' + $route.params.filmId" target="_blank">More info</a>
  </g-info>
</template>

<script>
export default {
  name: 'Info',

  data() {
    return {
      loading: false
    }
  },

  computed: {
    info() {
      return this.$store.state.info
    }
  },

  mounted() {
    this.loading = true
    this.$store.dispatch('fetch_info', this.$route.params.filmId)
      .finally(() => this.loading = false)
  }
}
</script>

<style scoped>
g-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
}

img {
  border: 10px solid #333;
  margin-top: 20px;
}

.date, h2 {
  padding: 10px 20px;
  background-color: #e4ba24;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
}

a {
  margin: 20px;
}
</style>