<template>
  <g-search>
    <input v-model="text" @keyup.enter="search" placeholder="Type the name of a film...">
    <Films :films="films"></Films>
  </g-search>
</template>

<script>
import Films from '@/components/Films.vue'

export default {
  name: 'Search',
  components: {
    Films
  },

  data() {
    return {
      text: '',
      loading: false
    }
  },

  computed: {
    films() {
      return this.$store.state.films
    }
  },

  methods: {
    search() {
      this.loading = true
      this.$store.dispatch('fetch_films', this.text)
        .catch(error => alert(error))
        .finally(() => this.loading = false)
    }
  }
}
</script>

<style scoped>
  input {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid var(--grey);
    border-radius: 10px;
    background-color: white;
    padding: 12px 20px;
    transition: width .4s ease-in-out;
    font-size: 16px;
    margin: 1rem;
  }

  input:focus {
    width: 95vw;
    border-color: palevioletred;
    transition: .5s;
    outline: none;
  }
</style>
